body {
  margin: auto;
  background:linear-gradient(to top , rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0.3) 100%),url(img/backgrond.jpg) ;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 70%;
 font-family: 'Helvetica', 'Arial', sans-serif;

}

.center{
  text-align: center;
}

#gauche{
  display: inline-block;
  float: left;
}

#droite{
  display: inline-block;
  float: right;
}



h1 {
  color: white;
  margin: 0px auto;
  padding: 20px;
  font-family: 'Avantgarde', sans-serif;
  font-size: 230%;
}

ul {
  padding: 0;
}

li {
  color: #FFF;
  font-size: 20px;
  list-style-type: none;
  width: 50%;
  margin: 0px auto;
  padding: 10px;
  margin-bottom: 10px;
}
